.user_feedback_card{
    width: 95%;
    margin: auto;
    min-height: 170px;
    /* border-bottom: 1px #c7c7c7 solid;  */
    margin-bottom: 20px;
    /* box-shadow: none !important */
}

.username-div{
    font: 1.5em sans-serif;
    color: #3f51b5;
    padding-bottom: 10px;
    border-bottom: 1px #3f51b5 solid; 
}


.feedback-div{
    /* margin-top: 30px */
}