.selected_parking_List{
    margin-top: 10px
}



.slots_button_list{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3f51b5;
    font-weight: bold;
    display: flex;
    -webkit-transition: background-color 2s,color .5s, -webkit-transform 2s;
    transition: background-color .5s, transform 2s, color .5s;
}


.slots_button_list:hover{
    color: #ffffff;
    background-color: #3f51b5;
}


.CardContent_class{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px
}